node_modules
*.env
bundle.js*
main.css*
.DS_Store
todo*
PageItem.js*
DeleteConfirmation.js*
DeleteInstructor.js*
vendors-node_modules_howler_dist_howler_js.bundle.js*
vendors-node_modules_howler_dist_howler_js.bundle.js.map*